
body{  
    background: url(./prote.jpg) no-repeat center center / cover;
    margin: 0px;
    padding: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /*apica color con opacidad */
    background-blend-mode: darken;/*mezcla el color de fondo con la imagen */
}

.heading{
    color: rgb(68, 66, 66);
    font-family: fantasy ;
    text-align: center;
}

h1{
    font-size: 50px;
   background: white;
}
.heading-h2{
    font-size: 83px;
}

#h2-ID{
    color: red;
    background: white;
}
 span{
    color: rgb(89, 0, 255);
    background: white;
 }
 
 .span-rojo{
    color:red
 }

 #span-red{ 
    color:rgb(161, 105, 19)
 }

 .img-proteina{
    width: 400px;
    border: 2px solid red;
    border-top: 10px solid green;
    border-left: 3px solid brown;
    border-radius: 16px ;
 }
 p{
    background: white;
 }
 .img-proteina2{
    filter: brightness(0.78);
 }
